



.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}

/*************SHOW MORE***************/
#jquery-script-menu {
position: fixed;
height: 90px;
width: 100%;
top: 0;
left: 0;
border-top: 5px solid #316594;
background: #fff;
-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
z-index: 999999;
padding: 10px 0;
-webkit-box-sizing:content-box;
-moz-box-sizing:content-box;
box-sizing:content-box;
}

.jquery-script-clear {
clear:both;
height:0;
}
.showmore-button {
    cursor: pointer; 
    background-color: #999; 
    color: #fff; 
    text-transform: uppercase; 
    text-align: center; 
    padding: 7px 5px 5px 5px; 
    margin-top: 5px;
	font-family: 'aileronbold';
}
  .my-button-css { font-family: 'Roboto', sans-serif; font-weight: 900; margin-top: 0.5rem; }

.color-1 .my-button-css{ color:#4060f4;}
.color-1 .my-button-css:hover{ color:#344762;}
.color-2 .my-button-css{ color:#f6b043;}
.color-2 .my-button-css:hover{ color:#344762;}
.color-3 .my-button-css{ color:#009bfe;}
.color-3 .my-button-css:hover{ color:#344762;}
.color-4 .my-button-css{ color:#fc53b3;}
.color-4 .my-button-css:hover{ color:#344762;}
.color-5 .my-button-css{ color:#52da8f;}
.color-5 .my-button-css:hover{ color:#344762;}
.color-6 .my-button-css{ color:#7e16f5;}
.color-6 .my-button-css:hover{ color:#344762;}
.show-more-style{ max-width:100% !important;}
/*************SHOW MORE***************/
