/*Mobile*/
@media screen and (max-width: 480px){
	.menu .navbar-nav { background: rgba(0,0,0,0.8); padding: 20px;}
	.menu .bg-light { text-align: right; padding-right: 20px; z-index: 999; margin-top: -3.7rem;}
	.menu .navbar-nav .nav-link { color:#fff; text-align: right; padding-right: 15px; border-bottom: 1px solid #848484; padding: 10px; margin-bottom:6px;
	margin-left: 0px;}
	.menu .navbar-light .navbar-toggler{ margin-left:auto; background:#fff; border-radius: 50%; padding:8px;}
	.menu .navbar-collapse{ position:absolute; width:100%; max-width:100%; z-index: 99; top:4rem; left:0px; right:0px;  }
	.header-description h2{ font-size:26px; line-height: 37px;}
	.download-btn-area{ margin-top:0px; text-align: center;} 
	.download-btn-area .btn-secondary{ margin-left: 0px; margin-top: 1rem;} 
	.download-btn-area .btn-primary{ margin-right:0px; margin-top: 1rem;}
	.footer-bg{ margin-top:3rem; text-align: center;}
	.copyright-text p{ text-align:center; line-height: 23px;}
	.footer-download-btn{ text-align:center; margin-bottom:1.5rem; margin-top:1.5rem;} 
	.footer-connect{ text-align:center;} 
	.testimonial-title h3{ margin-top:0px; margin-bottom: 2rem;}
	.phn-bg img{ display:none;}
	.mobile-slider .carousel-item img{ margin-left:0px; }
	.inner-header .header-video{ margin-top:3rem;}
	.about-text p{ margin-top:0px;}
	.contact-form-area{ padding:0 15px;}
	.map-area{ height:290px; margin-top:3rem;}
	.header-description li{ display: block;}

}

/*Tablet*/
@media screen and (max-width: 768px){
	.menu .navbar-nav { background: rgba(0,0,0,0.8); padding: 20px;}
	.menu .bg-light { text-align: right; padding-right: 20px; z-index: 999;}
	.menu .navbar-nav .nav-link { color:#fff; text-align: right; padding-right: 15px; border-bottom: 1px solid #848484; padding: 10px; margin-bottom:6px;
	margin-left: 0px;}
	.menu .navbar-light .navbar-toggler{ margin-left:auto; background:#fff; border-radius: 50%; padding:8px;}
	.menu .navbar-collapse{ position:absolute; width:100%; max-width: 300px; z-index: 99; top:4rem;  }
	.inner-header .header-video{ margin-top:3rem;}
	.logo{ background-size: contain; margin-top: -1.5rem; padding-left:1rem;}
	.map-area{ height:290px;}
	.copyright-text p{ text-align:center; line-height: 23px;}
	.footer-download-btn{ text-align:center; margin-bottom:1.5rem; margin-top:1.5rem;} 
	.footer-connect{ text-align:center; margin-top:1.5rem;} 
	.header-description li{ display: block;}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.menu .navbar-nav { background: rgba(0,0,0,0.8); padding: 20px;}
	.menu .bg-light { text-align: right; padding-right: 20px; z-index: 999; }
	.menu .navbar-nav .nav-link { color:#fff; text-align: right; padding-right: 15px; border-bottom: 1px solid #848484; padding: 10px; margin-bottom:6px;
	margin-left: 0px;}
	.menu .navbar-light .navbar-toggler{ margin-left:auto; background:#fff; border-radius: 50%; padding:8px;}
	.menu .navbar-collapse{ position:absolute; width:100%; max-width: 380px; z-index: 99; top:4rem;}
	.phn-bg img{ display:none;}
	.mobile-slider .carousel-item img{ margin-left:0px; border:13px solid #0c0f12;}
	.logo{ background-size: contain; margin-top: -1.5rem; padding-left:1rem;}
	.testimonial-title h3{ margin-top:0px; margin-bottom: 2rem;}
	.copyright-text p{ text-align:center; line-height: 23px;}
	.footer-download-btn{ text-align:center; margin-bottom:1.5rem; margin-top:1.5rem;} 
	.footer-connect{ text-align:center; margin-top:1.5rem;} 
	.inner-header .header-video{ margin-top:3rem;}
	.map-area{ height:290px;}
	.copyright-text p{ text-align:center; line-height: 23px;}
	.header-description li{ display: block;}

	

} 

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1280px) {
	.phn-bg img{ display:none;}
	.mobile-slider .carousel-item img{ margin-left:0px; border:13px solid #0c0f12;}
	.logo{ background-size: contain; margin-top: -1.5rem; padding-left:1rem;}

	
}


/*Huge*/
@media screen and (max-width: 1280px){	
	
}

