/**************************reset************************/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,
code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,
header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
*{outline: none !important;}
/**************************reset************************/
body{ font-size:16px; line-height:24px; }
img{ max-width:100%; margin-left: auto; margin-right: auto;}
p{ line-height:24px;}
a:hover, a:active, a:focus { outline: 0;}
.no-padding{ padding:0px;}
:hover{   -webkit-transition: all 0.4s ease-in; transition: all 0.4s ease-in;}
a:hover{  -webkit-transition: all 0.4s ease-in; transition: all 0.4s ease-in;}
.custom-fluid{ padding:0 100px;}
.logo{ padding-top: 2.5rem; padding-left: 3rem; margin-bottom: 0.5rem; background: url(../images/logo-bg.png) no-repeat center left; height:167px;}
.header-bg{ background:url(../images/header.jpg) no-repeat center top;}
.menu .bg-light{ background-color:transparent !important; margin-top: 1rem;}
.menu .navbar-light .navbar-nav .nav-link{ font-size: 18px; color:#fff; font-family: 'Poppins', sans-serif; font-weight:400; margin:0 1rem;  padding:11px 0 4px 0;  }
.menu .navbar-light .navbar-nav .nav-link:hover, .menu .navbar-light .navbar-nav .nav-link .active{ color:#262626; cursor: pointer;}
.header-description h2{ font-family: 'Poppins', sans-serif; font-weight: 900; color:#fefbfb; font-size:38px; line-height: 44px;}
.header-description p{ font-size: 16px; color:#fefbfb; font-family: 'Montserrat', sans-serif; font-weight: 400; margin-top:1rem; margin-bottom: 2rem;}
.header-description .btn-light{ background:#ffffff; border-radius: 50px; color:#2e2e2e; text-transform: uppercase; font-family: 'Roboto', sans-serif; 
font-weight: 900; padding:10px 36px;}
.header-description .btn-light:hover{ background:#2e2e2e; color:#fff;}
.header-description{ margin-top:3rem;}
.mobile-slider{margin-bottom: -8rem;}
.mobile-slider .carousel-item img{ margin-left: 3rem;  margin-top: 1rem; border-radius: 42px;}
.section-overlay{ background:url(../images/header-overlay.png) no-repeat center top; background-size: cover; height: 29rem; margin-top: -29rem;}
.phn-bg img{ position:absolute; z-index: 99; height:792px;}
.features-head{ text-align:center; margin-top:12rem; margin-bottom:2rem;}
.mobile-slider .carousel-fade .carousel-item{ margin-bottom:2rem;}
.circle-bg{ background:url(../images/circle-bg.jpg) no-repeat 91% top; margin-top: -6rem; padding-bottom:3rem;}
.features-head p{ color:#1667bf; font-size: 16px; font-family: 'Poppins', sans-serif; font-weight:300;}
.features-head h3{ color:#323335; font-size: 36px; font-family: 'Poppins', sans-serif; font-weight:700; margin-top:0.5rem;}
.features-bg{ background:url(../images/features-bg.jpg) no-repeat center top;}
.header-video{ background: -moz-linear-gradient(left, rgba(66,59,248,0.8) 0%, rgba(35,160,214,0.8) 100%); margin: 25px 0 0 22px;
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(66,59,248,0.8)), color-stop(100%, rgba(35,160,214,0.8)));
background: -webkit-linear-gradient(left, rgba(66,59,248,0.8) 0%, rgba(35,160,214,0.8) 100%);
background: -o-linear-gradient(left, rgba(66,59,248,0.8) 0%, rgba(35,160,214,0.8) 100%);
background: -ms-linear-gradient(left, rgba(66,59,248,0.8) 0%, rgba(35,160,214,0.8) 100%);
background: linear-gradient(to right, rgba(66,59,248,0.8) 0%, rgba(35,160,214,0.8) 100%); border-radius:2px; padding:20px; -webkit-box-shadow: 0px 0px 0px 4px rgba(34,146,226,0.3); -moz-box-shadow: 0px 0px 0px 4px rgba(34,146,226,0.3); box-shadow: 0px 0px 0px 4px rgba(34,146,226,0.3);}
.header-video h2{ color:#fff; font-size: 24px; font-family: 'Poppins', sans-serif; font-weight:900; margin-bottom:1rem;}
.header-video img{ border-radius:5px;}
.features{ border-radius:18px; -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.16); -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.16);
box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.16); padding: 20px; margin-bottom: 3rem;}
.features img{ margin-top: 15px;}
.color-1 a{ color:#4060f4;}
.color-1 a:hover{ color:#344762;}
.color-1:hover{ background:#d8dffc; -webkit-box-shadow: 0px 0px 61px -32px rgba(0,0,0,0.61); -moz-box-shadow: 0px 0px 61px -32px rgba(0,0,0,0.61);
box-shadow: 0px 0px 61px -32px rgba(0,0,0,0.61); cursor:pointer;}
.color-2 a{ color:#f6b043;}
.color-2 a:hover{ color:#344762;}
.color-2:hover{ background:#f4e7d2; -webkit-box-shadow: 0px 0px 61px -32px rgba(0,0,0,0.61); -moz-box-shadow: 0px 0px 61px -32px rgba(0,0,0,0.61);
box-shadow: 0px 0px 61px -32px rgba(0,0,0,0.61); cursor:pointer;}
.color-3 a{ color:#009bfe;}
.color-3 a:hover{ color:#344762;}
.color-3:hover{ background:#d8eefc; -webkit-box-shadow: 0px 0px 61px -32px rgba(0,0,0,0.61); -moz-box-shadow: 0px 0px 61px -32px rgba(0,0,0,0.61);
box-shadow: 0px 0px 61px -32px rgba(0,0,0,0.61); cursor:pointer;}
.color-4 a{ color:#fc53b3;}
.color-4 a:hover{ color:#344762;}
.color-4:hover{ background:#fdc5e5; -webkit-box-shadow: 0px 0px 61px -32px rgba(0,0,0,0.61); -moz-box-shadow: 0px 0px 61px -32px rgba(0,0,0,0.61);
box-shadow: 0px 0px 61px -32px rgba(0,0,0,0.61); cursor:pointer;}
.color-5 a{ color:#52da8f;}
.color-5 a:hover{ color:#344762;}
.color-5:hover{ background:#defaea; -webkit-box-shadow: 0px 0px 61px -32px rgba(0,0,0,0.61); -moz-box-shadow: 0px 0px 61px -32px rgba(0,0,0,0.61);
box-shadow: 0px 0px 61px -32px rgba(0,0,0,0.61); cursor:pointer;}
.color-6 a{ color:#7e16f5;}
.color-6 a:hover{ color:#344762;}
.color-6:hover{ background:#e6d3fb; -webkit-box-shadow: 0px 0px 61px -32px rgba(0,0,0,0.61); -moz-box-shadow: 0px 0px 61px -32px rgba(0,0,0,0.61);
box-shadow: 0px 0px 61px -32px rgba(0,0,0,0.61); cursor:pointer;}
.features h3{  color:#323335; font-family: 'Poppins', sans-serif; font-weight:700; font-size: 22px; margin-top: 20px; margin-bottom:15px;} 
.features p{ color:#8693a1; font-family: 'Poppins', sans-serif; font-weight:400; line-height: 26px; font-size: 16px; margin-bottom: 15px;}
.features a{font-family: 'Roboto', sans-serif; font-weight: 900; }
.dots-head{ display:block; margin-bottom: 1rem; margin-top:2rem;}
.app-screen-head{ text-align:center;}
.app-screen-head p{ color:#2d3336; font-size: 16px; font-family: 'Poppins', sans-serif; font-weight:300;}
.mobile-splash-screens{ margin-top:3rem;}
.download-btn-area{ text-align:center; margin-top:0rem; z-index: 999; position: relative;}
.download-btn-area .btn-primary{ background:#1f8bdb; border-radius:3px; font-family: 'Roboto', sans-serif; font-weight: 900; text-transform: uppercase;
font-size: 14px; padding:12px 24px; border:none; margin-right:0.5rem;}
.download-btn-area .btn-primary:hover{ background:#154d8a;}
.download-btn-area .btn-secondary{ background:#109be4; border-radius:4px; font-family: 'Roboto', sans-serif; font-weight: 900; text-transform: uppercase;
font-size: 14px; padding:12px 24px; border:none; margin-left: 0.5rem;}
.download-btn-area .btn-secondary:hover{ background:#154d8a;}
.testimonial-area{ margin-top:8rem; background:url(../images/testimonial-bg.png) no-repeat center left;}
.testimonial-title h3{ font-family: 'Poppins', sans-serif; font-weight:700; color:#2d3336; font-size:38px; text-align: center; line-height:39px; 
margin-top:4rem;  }
.profile{ text-align:center;}
.profile h4{ color:#292929; font-size: 25px; font-family: 'Montserrat', sans-serif; font-weight: 700; margin-top:1rem;}
.profile h6{ color:#6d6d6d; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 15px;}
.profile p{ color:#10100f; font-size:14px; line-height: 24px; font-family: 'Montserrat', sans-serif; font-weight: 400; margin-top:0.5rem;}
.profile img{ width:80% !important;}
.testimonial-slider{ padding-right:-4rem;}
.custome-width{ max-width:1249px;}
.footer-bg{ background: -moz-linear-gradient(left, rgba(64,29,240,1) 0%, rgba(67,150,244,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(64,29,240,1)), color-stop(100%, rgba(67,150,244,1)));
background: -webkit-linear-gradient(left, rgba(64,29,240,1) 0%, rgba(67,150,244,1) 100%);
background: -o-linear-gradient(left, rgba(64,29,240,1) 0%, rgba(67,150,244,1) 100%);
background: -ms-linear-gradient(left, rgba(64,29,240,1) 0%, rgba(67,150,244,1) 100%);
background: linear-gradient(to right, rgba(64,29,240,1) 0%, rgba(67,150,244,1) 100%); padding:30px 0; margin-top:10rem; }
.copyright-text p{ color:#ffffff; font-size: 14px; font-family: 'Montserrat', sans-serif; font-weight: 400; text-align: left; margin-top:1rem;}

.footer-connect{ text-align:right; margin-top:9px;}
.footer-icons{ background:#ffffff; border-radius: 50px; font-size: 18px; color:#2f373b; padding:10px 1px;}
.footer-icons .fab{ width:40px; text-align: center;}
.footer-icons:hover{ color:#fff; background:#2d3336;}
.footer-download-btn{ text-align:right; margin-top: 8px;}
.footer-download-btn .btn-primary{ border-radius: 50px; border:none; background-color:#2d3336; font-family: 'Poppins', sans-serif; font-weight: 900; font-size: 12px; padding:10px 14px; color:#fff;}
.footer-download-btn .btn-secondary{ border-radius: 50px; border:none; background-color:#2d3336; font-family: 'Poppins', sans-serif; font-weight: 900; font-size: 11px; padding:10px 14px; color:#fff;}
.footer-download-btn .btn-primary:hover{ background:#fff; color:#2d3336;}
.footer-download-btn .btn-secondary:hover{ background:#fff; color:#2d3336;}

/************************ A B O U T  A P P ********************************/
.header-description li{ font-family: 'Montserrat', sans-serif; font-weight: 400; color:#fff;}
.header-description li a{ color:#2d3336;}
.seperation{ color:#2e3039 !important;}
.inner-header{ padding-bottom: 10rem;}
.inner-header .header-description{ margin-top:4rem;}
.inner-header1{ padding-bottom: 15rem;}
.inner-header1 .header-description{ margin-top:4rem;}
.about-section .features-head{ margin-top:2rem;}
.about-text{ margin-top:4rem;} 
.about-text p{ color:#2d3336; font-size: 16px; font-family: 'Poppins', sans-serif; font-weight:300; margin-top: -50px; text-align: center; 
line-height: 27px;}
.tabing-area .features-head{ margin-top:3.5rem; margin-bottom:4rem;}
.tabing-area .features-head p{ margin-top:1rem;}
.tabing-area .nav-pills .nav-link{ padding: 11px 19px; border-radius:50px; font-family: 'Poppins', sans-serif; font-weight:700; font-size: 16px; color:#012c60; margin-bottom: 1rem; }
.tabing-area .nav-pills .nav-link{ background:#f0f3fe; text-align:center;}
.tabing-area .nav-pills .nav-link.active, .tabing-area .nav-pills .show>.nav-link{background: -moz-linear-gradient(left, rgba(65,99,248,1) 0%, rgba(66,201,250,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(65,99,248,1)), color-stop(100%, rgba(66,201,250,1)));
background: -webkit-linear-gradient(left, rgba(65,99,248,1) 0%, rgba(66,201,250,1) 100%);
background: -o-linear-gradient(left, rgba(65,99,248,1) 0%, rgba(66,201,250,1) 100%);
background: -ms-linear-gradient(left, rgba(65,99,248,1) 0%, rgba(66,201,250,1) 100%);
background: linear-gradient(to right, rgba(65,99,248,1) 0%, rgba(66,201,250,1) 100%); color:#fff;}
.features-details h4{color:#2d3336; font-size:28px; font-family: 'Poppins', sans-serif; font-weight:700; display: inline-block; margin-top: 2rem; 
margin-left:1rem;}
.features-details img{ float:left;}
.features-details p{ display: inline-block; margin-top: 20px; color:#2d3336; font-size: 14px; font-family: 'Poppins', sans-serif; font-weight:300; text-align: left; line-height: 27px;}
.features-details h5{ font-family: 'Poppins', sans-serif; font-weight:700; font-size:20px; text-transform: capitalize; margin-top: 1rem; color:#323335;}
.features-details ul{ margin-top:0.5rem;}
.features-details ul li{ font-family: 'Poppins', sans-serif; font-weight:400; font-size:15px; color:#49515a; list-style-position: inside; 
list-style-image: url(../images/list-icon.png); margin-bottom: 10px;}
/************************ A B O U T  A P P ********************************/

/************************ C O N T A C T  U S ********************************/
.contact-info .circle-icon{ border:1px solid #2baceb; border-radius: 50px; width:50px; height:50px; color:#186ebc; font-size: 20px; padding:11px 15px; margin-left: auto; margin-right: auto;}
.contact-info{ text-align:center;}
.contact-info h3{ font-size: 22px; color:#2d3336; font-family: 'Montserrat', sans-serif; font-weight:700; margin-top: 10px;}
.contact-info-area{ padding:5rem 0 4rem 0;}
.contact-info p{ color:#2d3336; margin-top:1rem; font-size: 15px; line-height: 24px; font-family: 'Montserrat', sans-serif; font-weight:300;}
.contact-form-area{ padding:0 60px;}
.contact-form .form-control{ background:#ffff; border:1px solid #dcdcdc; height:55px; border-radius:20px;
-webkit-box-shadow: 0px 0px 21px -12px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 21px -12px rgba(0,0,0,0.2);
box-shadow: 0px 0px 21px -12px rgba(0,0,0,0.2); padding:10px 27px;}
.contact-form .form-control::placeholder{ color:#575757; font-size: 14px; font-family: 'Montserrat', sans-serif; font-weight:400;}
.contact-form .text-area{ height:198px;}
.indication-text{ color:#818181; font-size:14px; margin-top:15px; font-family: 'Montserrat', sans-serif; font-weight:300;}
.submit-area{ text-align:right;}
.submit-area .btn-primary{ background:#1d88dc; border:none; border-radius:50px; font-size:16px; text-transform:capitalize; font-family: 'Roboto', sans-serif; font-weight: 900; padding:7px 38px;}
.submit-area .btn-primary:hover{ background:#2db2ed; cursor:pointer;}
.contact-section{ padding-bottom:3rem;}
.contact-head p{ margin-top:15px;}
.contact-head{ margin-bottom:3rem;}
.map-area{  border-top-left-radius:30px; border-bottom-left-radius:30px; background:#f0f3fe; height:300px; margin-bottom: -10rem; margin-top:6rem;  }
.map-area #googleMap{ }
/************************ C O N T A C T  U S ********************************/

/*********************** A B O U T ***************************/
.about-main{ text-align:center; margin-bottom: 5rem;}
.about-main p{ margin-top:1rem;}
.mission-vision-area h2{ font-family: 'Poppins', sans-serif; font-weight: 600; color:#2d3336; font-size:30px; line-height: 44px; margin-top:1rem; 
margin-bottom: 1rem;}
.mission-vision-area p{ color: #2d3336; font-size: 16px; font-family: 'Poppins', sans-serif; font-weight: 300; text-align: left;
line-height: 27px;}
.mobile-slider2 .carousel-item img{ margin-left:0px;}
.copyright-text a{ color:#fff;}
.copyright-text a:hover{ color:#cfd1cf; text-decoration:none;}

/*Added extra 30-8-19*/
.header-description h3{ font-family: 'Poppins', sans-serif; font-weight: 600; color:#fefbfb; font-size:18px; line-height: 23px; padding: 31px 0 5px 0;}
.header-points ul{ list-style: none; margin: 1rem 0 2rem 0;}
.header-points li{font-size: 16px; color:#fefbfb; font-family: 'Montserrat', sans-serif; font-weight: 400; line-height: 28px; display: inline; background: url( ../images/arrownew.png ) no-repeat left top; padding:5px 20px 0 32px;}

.features ul{ list-style: none; margin: 1rem 0 2rem 0;}
.features li{font-size: 16px; color:#8693a1; font-family: 'Poppins', sans-serif; font-weight: 400; line-height: 28px; display: block; background: url( ../images/arrow-blue.png ) no-repeat left top; padding:0px 20px 0 32px;}